<!--
# This file is free software; you can redistribute it and/or
# modify it under the terms of the GNU Library General Public
# License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
-->

<h1>Stereo Examples </h1>
<p>
<a href=nostereo.sh.html>example on a stereocapable display without shutterglases</a><br>
</p>
<h1>Input Device Examples </h1>
<p>
<a href=joystick2.sh.html>Linux joystick example (2 normal axes, 1 axis not deliver zero when released)</a><br>
<a href=sidewinder3dpro.sh.html>Linux 3D joystick example (Micro$oft sidewinder 3D Pro, disabling 4. axis)</a><br>
<a href=wingmanrumblepad.sh.html>Linux 6D joystick example (Logitech Wingman Rumblepad)</a><br>
<a href=spaceball_joystick_example.sh.html>Linux Spaceball/joystick example</a><br>
<a href=xinput_example.sh.html>IRIX Xinput example (dialbox and magellan) </a><br>
<a href=wingmanrumblepad_mswindows.bat.html>Micro$oft joystick </a><br>
</p>
<p>
<a href=animation_example.wrl>Here</a> is a simple VRML example, if you
want to play with input devices.
</p>
